* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: #fed7aa;
}

.app .app-container {
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.app .app-container .searchBar {
    width: 60%;
    background-color: #ffedd5;
    padding: 1rem 2rem;
}
.app .app-container .searchBar .searchBar-container {
    width: 90%;
    margin: 0 auto;
}
