* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100%;
    width: 100vw;
    background-color: #fed7aa;
}

.app .app-container {
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app .app-container .searchBar {
    width: 50%;
    background-color: #ffedd5;
    padding: 1.2rem 1rem;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
.app .app-container .searchBar .searchBar-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.app .app-container .searchBar .searchBar-container input {
    width: 70%;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
}

.app .app-container .searchBar .searchBar-container button {
    width: 25%;
    padding: 0.6rem 1rem;
    background-color: #fb923c;
    border: none;
    color: #fff;
    border-radius: 0 0.5rem 0.5rem 0;
}

.app .app-container .recipe-modal {
    width: 80%;
    background-color: #fafafa;
    margin: 2rem auto;
    display: flex;
}

.app .app-container .recipe-modal .recipeList {
    width: 30%;
}
.app
    .app-container
    .recipe-modal
    .recipeList
    .recipeList-container
    .recipe-item
    img {
    height: 40px;
}
